html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

thead th {
  color: #fff;
  font-weight:400;
  font-size: 16px;
}

.card {
  border-radius: .5rem;
}
.active:hover{
  background-color: #5a555c;
  }

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 16px;
}
thead {
  top: 0;
  position: sticky;
}

.res{
text-align: center;
font-weight: bold;
font-size:50px;
font-family:Georgia, 'Times New Roman', Times, serif;
margin-left: 200px;
padding-top: 35px;
color: black;
}